@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Market Motors API</h1>
    <p>A backend API for <a href="https://www.marketmotors.com/">Market Motors Car Dealership</a></p>
    @* <p>@Html.ActionLink("Create an account", "Index", "Account")</p> *@
</div>
